#luzUno{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
}


#luzDos{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: red;
}

#ambar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
}